/*General Classes*/

h1 {
  font-size: 40px;
  color: rgb(6, 82, 107);
  margin-top: 50px;
  border-bottom: 3px solid lightgray;
}

h4 {
  color: rgb(6, 82, 107);
  margin-top: 30px;
}

/* Header Section */

header {
  width: 100%;
  height: 100px;
  background-color: deepskyblue;
  border-bottom: 10px solid rgb(6, 82, 107);
}

.logo {
  width: 100px;
  height: 50px;
  background-color: white;
  color: deepskyblue;
  text-align: center;
  border-radius: 50%;
  margin-top: 20px;
  line-height: 50px;
}

.menu {
  float: right;
  line-height: 100px;
}

.menu a {
  color: white;
  text-decoration: none;
  margin-left: 30px;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

.menu a:hover {
  color: rgb(6, 82, 107);
  font-weight: bold;
}

/*About section*/

.imageAboutus {
  width: 100%;
  height: 400px;
  background-image: url(https://source.unsplash.com/800x500/?nature,water);
  margin-top: 30px;
}
